/* Text Layer for PDF.js */
.textLayer {
    position: absolute;
    text-align: initial;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    /* Make text transparent but selectable */
    line-height: 1.0;
    text-size-adjust: none;
    forced-color-adjust: none;
    transform-origin: 0 0;
    z-index: 2;
}

.textLayer ::selection {
    background: rgba(0, 0, 255, 1);
    color: transparent;
}

.textLayer br {
    display: none;
}

.textLayer span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}